@import "variables"

body
    font: 16px/1.5 'Roboto Slab', Arial, sans-serif
    color: #343468

    @media(max-width: $viewport-m)
        font: 14px/1.5 'Roboto Slab', Arial, sans-serif
    @media(max-width: $viewport-s)
        font: 12px/1.5 'Roboto Slab', Arial, sans-serif

.container
    position: relative
    z-index: 100
    width: 1200px
    max-width: 100%
    margin: 0 auto

    &--sm
        width: 960px

.ta--center
    text-align: center
.ta--right
    text-align: right

.section-title
    position: relative
    margin-bottom: 2.5rem
    text-transform: uppercase
    text-align: center
    font-weight: 400
    color: #343468
    font-size: 2rem

    @media(max-width: $viewport-m)
        font-size: 1.5rem

    &--inline
        margin-bottom: 1.5rem
        & span
            display: inline !important
            &:first-child
                font-weight: 400 !important
            &:last-child
                font-weight: 700
        &::after
            display: none

    & span
        display: block
        line-height: 1.25
        &:first-child
            font-weight: 700

    &::after
        content: ''
        position: absolute
        bottom: -20px
        left: 50%
        transform: translateX(-50%)
        width: 75px
        height: 5px
        background-color: #343468

.diagonal
    position: relative
    z-index: 100
    overflow: hidden
    &::after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(5deg)
        z-index: 1
        height: 250px
        width: 4000px
        background-color: #6761b0

.button
    padding: 5px 30px
    background-color: #ffde00
    border-radius: 20px
    border: 1px solid transparent
    text-decoration: none
    color: #111
    font-weight: 300
    // box-shadow: 0 0 10px 0 #ffde00

    & + &
        margin-left: 1.5rem

    &--tr
        background-color: transparent
        color: rgba(255,255,255,.5)
        box-shadow: none
    &--dark
        background-color: #343468
        color: white
    &--white
        background-color: white
        border: 1px solid #343468
        color: #343468
