.cause-section
    padding: 100px 0

.content-box
    padding: 20px 200px
    border: 1px solid #aaa
    border-radius: 5px
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2)
    background-color: white

.causes
    display: flex
    justify-content: space-between
    margin: 80px 0

.cause
    display: flex
    align-items: center
    & span
        display: block
        margin-left: 20px
        color: #343468

        &:last-child
            font-weight: 300
