footer
    background-color: #565596
    padding: 1rem
    font-size: .9rem

.footer-content
    display: flex
    flex-wrap: wrap

.footer-logo,
.footer-social,
.footer-copyright
    flex-basis: 600px
    flex-grow: 1
    display: flex

.footer-logo
    display: flex
    align-items: center
    color: white

.footer-social
    justify-content: flex-end
    align-items: center

.footer-copyright
    justify-content: center
    padding-top: 1rem
    color: #9998c6

.legal
    display: block
    color: #9998c6
