@import "./variables"
.hero
    position: relative
    height: 100vh
    padding-top: 30px
    color: white
    background:
        image: url(../assets/img/hero.png)
        size: cover

    @media(max-width: $viewport-m)
        padding-top: 10px
        padding: 20px
    @media(max-width: $viewport-s)
        padding: 10px


.title
    font-size: 2.5rem
    margin-top: 80px

    & + p
        margin-bottom: 100px
        color: rgba(255,255,255,0.5)

    @media(max-width: $viewport-m)
        font-size: 1.5rem

.additional-info
    position: relative
    margin-top: 80px
    color: rgba(255,255,255,0.5)
    font-weight: 300

    &::before
        content: url(../assets/img/quote.png)
        position: absolute
        left: -40px

    @media(max-width: $viewport-s)
        display: none

.features-list
    margin-top: 80px
    list-style: none
    font-weight: 400

    @media(max-width: $viewport-m)
        display: none

    & li
        margin-bottom: 80px
        position: relative
        &::before
            content: ''
            position: absolute
            top: 50%
            left: -20px
            transform: translateY(-50%)
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: white

        &:first-child
            margin-left: 5px
        &:nth-child(2)
            margin-left: -15px
        &:last-child
            margin-left: -45px

        & > span
            display: block

            &:last-child
                color: rgba(255,255,255,0.5)
                font-size: .95rem
                font-weight: 300


.button--tr span
    position: relative
    &::before
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -30%
        content: url(../assets/img/play.png)

.hero .button
    @media(max-width: $viewport-m)
        display: block
        text-align: center
        margin-bottom: 20px
