@import "./variables"
nav
    display: flex
    justify-content: space-between
    font-family: 'Fira Sans', Arial, sans-serif
    color: white

    @media(max-width: $viewport-s)
        margin: 0 -10px

.nav-section
    display: flex
    &:first-child
        align-items: center
    &:last-child
        flex-direction: column
        justify-content: center
        align-items: center

.logo
    display: inline-block
    width: 3rem
    height: 2.5rem
    margin-right: .5rem
    background:
        image: url(../assets/img/logo.png)
        size: cover

    & + span
        line-height: 1

.phone
    display: block
    font-size: 1.2rem
    & + a
        color: rgba(255,255,255,0.5)

    @media(max-width: $viewport-m)
        font-size: .9rem
