.target-people
    display: flex
    justify-content: space-between
    margin: 100px 0

    & div
        width: 200px
        padding: 40px 20px
        padding-bottom: 20px
        border: 1px solid #aaa
        box-shadow: 0 0 20px 0 rgba(0,0,0,.2)
        border-radius: 5px

        & > span
            display: block
            margin-top: 10px
            color: #343468
            font-size: 0.8rem
